body {
    /* background-image: url(./pexels-photo-209831.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% -25%;
    /* background-color: rgb(183, 188, 188); */
}

/* #weather-card{
    position:absolute;
    top: 50%;
    left: 51%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    height: 375px;
    width:1300px;
    border: 5px solid;
    border-radius: 10px;
    border-color: black;
    background-color: azure;
} */


#icons-Container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 375px;
    width: 1200px;
    border: 5px solid;
    border-radius: 10px;
    border-color: black; */
}
.heading{
    background-color: rgba(56, 61, 60, 0.5);
font-size: larger;}
.naving{
    background-color: rgba(16, 71, 61, 0.5);
    position: fixed;
    width: 100%;
}
.main{
    padding-top: 180px;
}
.footer{
    background-color: rgba(16, 71, 61, 0.5);

}
.icons {
    display: inline-block;
    padding: 20px;
    /* color: aliceblue; */
    height: 350px;
    width: 205px;
    margin: 0 aut;
    box-shadow: 10px 5px 5px rgba(65, 63, 63, 0.1);

    /* margin: 20px; */
    /* border: 5px solid; */
    border-radius: 10px;
    background-color: rgba(114, 151, 151, 0.6);
    /* border-color: black; */
    /* background-color: rgb(236, 241, 241); */
}
.icons:hover{
    box-shadow: 10px 5px 5px rgba(65, 63, 63, 0.5);
}

.image {
    height: 140px;
    width: 100%;
}

.imgC {
    height: 140px;
    width: 100%
}

.weather {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues, .maxValues, .wind, .humidity {
    text-align: left;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin: 0px;
}

/* .maxValues {
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    margin: 5px;
}

.wind {
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    margin: 5px;
}

.humidity {
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    margin: 5px;
} */

#map {
    height: 350px; 
    width: 100%; 
margin: 0 auto;
}

footer {
    margin-top: 30px;
}